.box{
    width: 200px;
    height: 200px;
}
.box1{
    background-color: #add8e6;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/06/08/woman-1867715_1280.jpg);
    background-size: 100px 200px;
    background-repeat: no-repeat;
}
.box2{
    background-color: purple;
    background-image: url(https://cdn.pixabay.com/photo/2016/11/29/06/08/woman-1867715_1280.jpg);
    background-size: cover;
}
.box3{
    background-color: gold;
    background-image: url(https://cdn.pixabay.com/photo/2020/05/17/20/21/cat-5183427_1280.jpg);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 500px;
}