:root{
    --text-white: #fff;
    --text-darkblue: darkblue;
}
.wrapper{
    width: 90%;
    margin: auto;
}
.panel-primary{
    background-image: url(https://gridbyexample.com/img/inflicted.png);
    color: var(--text-darkblue);
}
.panel-box{
    background-image: url(https://gridbyexample.com/img/tiny_grid.png);

}

@media (min-width: 640px) {
    /* this code will work on pc or computer */
    /* from screen width 640px and up will execute */
    .home-layout{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
    }
    .panel-primary{
        grid-column: 1 / span 3;
    }
    .panel-a{
        grid-column: 4 / span 2;
    }
    .homepage-bar{
        grid-column: 1 / -1;
    }
    .panel-b{
        grid-row: 3;
        grid-column: 1 / span 2;
    }
    .panel-c{
        grid-row: 3;
        grid-column: 3 / span 3;
    }
    .panel-d{
        grid-row: 4;
        grid-column: 1 / span 3;
    }
    .panel-e{
        grid-row: 4;
        grid-column: 4 / span 2;
    }
    .panel-f{
        grid-row: 5;
        grid-column: 1 / span 3;
    }
    panel-g{
        grid-row: 5;
        grid-column: 4;
    }
    panel-h{
        grid-row: 5;
        grid-column: 5;
    }
    .panel-i{
        grid-column: 1 / -1;
    }
}