.home-layout{
    /* grid container */
    display: grid;
    width: 90%;
    margin: auto;
    /* grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: 100px 100px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.panel-box{
    background-color: lightblue;
}
/* modified position of grid item */
.box1{
    grid-column: 1 / span 2;
    background-color: purple;
}
.box3{
    grid-column: 3;
    grid-row: 1 / span 2;
    background-color: gold;
}
.box2{
    grid-column: 2;
}
.box4{
    grid-column: 1;
    grid-row: 2;
}
/* 
box3 take place of box2, 
box2 take place of box4, 
box4 take place of box3 
*/