@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Suwannaphum:wght@100;300;400;700;900&display=swap');
/* External CSS */
*{
    font-family: "Poppins", "Suwannaphum", sans-serif;
}
.container{
    width: 80%;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
h3{
    text-align: center;
    font-variant: small-caps;
}
.text-darkblue{
    color: darkblue;
}
small{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: whitesmoke;
}

/* configure fonts using import */
