table{
    width: 80%;
    margin: auto;
    height: 80vh;
    text-align: center;
}
table, td, th{
    border-collapse: collapse;
    border: 1px solid gray;
}
thead{
    background-color: green;
    height: 2.5rem;
    color: rgb(255, 255, 255); 
}
tbody tr:nth-child(odd){
   background-color: whitesmoke; 
}
tbody tr:nth-child(even){
    background-color: white; 
}
tbody tr:hover{
    background-color: aqua;
}
